<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <script src="../js/vue2.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="inputValue">
            <button @click="handleClick">提交</button>
        </div>
        <ul>
            <li v-for="(item,index) of list" :key="index">
                {{item}}
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    new Vue({
        el : "#app",
        data : {
            inputValue : "hello",
            list: []
        },
        methods : {
            handleClick : function () {
                this.list.push(this.inputValue)
                this.inputValue = ""
            }
        }
    })
</script>
</html>
